.card-container {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  border: 1px solid red; 
}

.followers-container {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.followers-design {
  padding: 10px; 
  font-size: 1.5rem; 
  
}